node-red/data/.flows.json.backup
[
    {
        "id": "9437544a0f6eb7b6",
        "type": "tab",
        "label": "DEBUG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "797d6b58d40f9429",
        "type": "tab",
        "label": "CONFIGURATION",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38ca37d8e26c9239",
        "type": "tab",
        "label": "EXECUTION",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bf1db1120823ea7",
        "type": "tab",
        "label": "Ping Equipements",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bd870335f289f7f",
        "type": "tab",
        "label": "Liste Caméras",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cbae18ab1c0cf77",
        "type": "tab",
        "label": "Read Pipeline",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "564a9cba19c2bc96",
        "type": "ui_tab",
        "name": "Paramétrage",
        "icon": "settings",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5f6c3d7b9e4",
        "type": "ui_tab",
        "name": "Lancement de l'enregistrement",
        "icon": "camera_roll",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f899a08a0af76d49",
        "type": "ui_group",
        "name": "Paramétrage (son)",
        "tab": "564a9cba19c2bc96",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4402a57f897c8600",
        "type": "ui_group",
        "name": "Paramétrage (caméra)",
        "tab": "564a9cba19c2bc96",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bbd3e3f3bc9b",
        "type": "ui_group",
        "name": "Lancement de l'enregistrement",
        "tab": "a5f6c3d7b9e4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57d43aab7004fac7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": " Project ECHO - Pilotage de caméras",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8e239b0d5cb9746b",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ba7648b8.35c9f8",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Enregistrement du fichier de paramétrage (.json)",
        "tab": "564a9cba19c2bc96",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1899631ef10e7f34",
        "type": "ui_tab",
        "name": "Config Matériel",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a57f35f972f2fb2",
        "type": "ui_group",
        "name": "Paramétrage Général",
        "tab": "564a9cba19c2bc96",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "179620003cde7d14",
        "type": "ui_group",
        "name": "Equipements",
        "tab": "1899631ef10e7f34",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "442c82006174fa36",
        "type": "ui_tab",
        "name": "Read Pipeline(s)",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "06a208ef45769b0c",
        "type": "ui_group",
        "name": "Liste des pipelines ",
        "tab": "442c82006174fa36",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1b2c3nas0001",
        "type": "ui_group",
        "name": "Stockage Vidéo",
        "tab": "1899631ef10e7f34",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09585d3fda80deca",
        "type": "mqtt out",
        "z": "9437544a0f6eb7b6",
        "name": "Envoyer Commande",
        "topic": "gstreamer/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba7648b8.35c9f8",
        "x": 470,
        "y": 270,
        "wires": []
    },
    {
        "id": "cf01a76215ca7652",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Start Recording",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"start\"}",
        "payloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "1220de5d52e75b03",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"status\"}",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "a781b85afa9e39db",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Pause Recording",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"pause\"}",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "095ce910ec9163e5",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Start display ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "start_display",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "a7dcaa489c761c3b",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Pause Display",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "pause_display",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "83c0f41c11a79503",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Status Display",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "status_display",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "28822724f9c0bd75",
        "type": "mqtt in",
        "z": "9437544a0f6eb7b6",
        "name": "Réponse Python",
        "topic": "video/response",
        "qos": "0",
        "datatype": "utf8",
        "broker": "ba7648b8.35c9f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "fb2c561e5fecb0af"
            ]
        ]
    },
    {
        "id": "fb2c561e5fecb0af",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "Affichage Debug",
        "active": true,
        "tosidebar": true,
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "de823678b86287ce",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline1\"}",
        "payloadType": "str",
        "x": 190,
        "y": 390,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "eeb55c0a58522b4a",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline2\"}",
        "payloadType": "str",
        "x": 190,
        "y": 450,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "64cd7ab54638f8f3",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline3\"}",
        "payloadType": "str",
        "x": 190,
        "y": 510,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "4faf049b62a6f93a",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline4\"}",
        "payloadType": "str",
        "x": 190,
        "y": 570,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "81584f250179a5ea",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline5\"}",
        "payloadType": "str",
        "x": 190,
        "y": 630,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "44549a7a773bcfdc",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Stop pipeline6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"stop\", \"pipeline_name\":\"pipeline6\"}",
        "payloadType": "str",
        "x": 190,
        "y": 690,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0002",
        "type": "ui_template",
        "z": "9437544a0f6eb7b6",
        "group": "a1b2c3nas0001",
        "name": "Statut Stockage",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<div style=\"padding:6px 2px\">\n\n  <!-- Statut stockage -->\n  <div ng-if=\"msg\" style=\"display:flex;align-items:center;gap:14px;min-height:46px\">\n    <i class=\"material-icons\" ng-style=\"{color:msg.color,fontSize:'38px'}\">{{msg.icon}}</i>\n    <div style=\"flex:1\">\n      <div style=\"font-weight:600;font-size:1em\" ng-style=\"{color:msg.color}\">{{msg.title}}</div>\n      <div style=\"color:#888;font-size:0.82em;margin-top:3px\">{{msg.subtitle}}</div>\n    </div>\n    <button ng-if=\"!msg.showForm\"\n            ng-click=\"send({topic:'umount_nas'})\"\n            style=\"padding:4px 10px;background:#757575;color:white;border:none;border-radius:4px;cursor:pointer;font-size:0.8em;white-space:nowrap\">\n      Démonter\n    </button>\n  </div>\n  <div ng-if=\"!msg\" style=\"color:#aaa;font-style:italic\">Vérification du stockage en cours...</div>\n\n  <!-- Formulaire configuration NAS -->\n  <div ng-show=\"msg && msg.showForm\"\n       style=\"margin-top:12px;padding-top:10px;border-top:1px solid #e0e0e0\">\n    <div style=\"font-size:0.85em;color:#555;margin-bottom:8px;font-weight:600\">Configuration du partage NAS (CIFS) :</div>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:6px 12px;margin-bottom:10px\">\n      <div>\n        <div style=\"font-size:0.78em;color:#777;margin-bottom:2px\">IP / Hostname</div>\n        <input ng-model=\"nasIpModel\" type=\"text\" placeholder=\"192.168.0.17\"\n               style=\"width:100%;box-sizing:border-box;padding:6px 8px;border:1px solid #ccc;border-radius:4px;font-size:0.88em\">\n      </div>\n      <div>\n        <div style=\"font-size:0.78em;color:#777;margin-bottom:2px\">Nom du partage</div>\n        <input ng-model=\"nasShareModel\" type=\"text\" placeholder=\"ECHO_VIDEOs\"\n               style=\"width:100%;box-sizing:border-box;padding:6px 8px;border:1px solid #ccc;border-radius:4px;font-size:0.88em\">\n      </div>\n      <div>\n        <div style=\"font-size:0.78em;color:#777;margin-bottom:2px\">Utilisateur</div>\n        <input ng-model=\"nasUserModel\" type=\"text\" placeholder=\"raspi\"\n               style=\"width:100%;box-sizing:border-box;padding:6px 8px;border:1px solid #ccc;border-radius:4px;font-size:0.88em\">\n      </div>\n      <div>\n        <div style=\"font-size:0.78em;color:#777;margin-bottom:2px\">Mot de passe</div>\n        <input ng-model=\"nasPassModel\" type=\"password\" placeholder=\"••••••\"\n               style=\"width:100%;box-sizing:border-box;padding:6px 8px;border:1px solid #ccc;border-radius:4px;font-size:0.88em\">\n      </div>\n    </div>\n    <button ng-click=\"send({topic:'save_nas', payload:{host:nasIpModel, share:nasShareModel, user:nasUserModel, pass:nasPassModel}})\"\n            style=\"padding:7px 20px;background:#1976D2;color:white;border:none;border-radius:4px;cursor:pointer;font-size:0.88em\">\n      Sauvegarder et Monter\n    </button>\n  </div>\n\n</div>\n\n<script>\nscope.$watch('msg', function(msg) {\n    if (!msg || !msg.showForm) return;\n    if (!scope.nasIpModel) scope.nasIpModel = msg.nasHost || '';\n    if (!scope.nasShareModel) scope.nasShareModel = msg.nasShare || '';\n    if (!scope.nasUserModel) scope.nasUserModel = msg.nasUser || '';\n});\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1030,
        "y": 940,
        "wires": [
            [
                "a1b2c3nas0007"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0003",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Check NAS (30s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "a1b2c3nas0004"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0004",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Prépare ping NAS",
        "func": "var nasHost = global.get('NAS_HOST') || '';\nvar nasShare = global.get('NAS_SHARE') || '';\nvar nasUser = global.get('NAS_USER') || '';\nif (!nasHost) {\n    global.set('VIDEO_PATH', '/data/local_videos/');\n    msg.icon = 'storage';\n    msg.color = '#2196F3';\n    msg.title = 'NAS non configuré';\n    msg.subtitle = 'Aucun NAS renseigné — Vidéos enregistrées en local (/data/local_videos/)';\n    msg.showForm = true;\n    msg.nasHost = nasHost; msg.nasShare = nasShare; msg.nasUser = nasUser;\n    node.send([null, msg]);\n    return null;\n}\nmsg.payload = nasHost;\nmsg.nasHost = nasHost; msg.nasShare = nasShare; msg.nasUser = nasUser;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 940,
        "wires": [
            [
                "7323e54970ece752"
            ],
            [
                "a1b2c3nas0002"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0006",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Traite résultat NAS",
        "func": "var nasHost = global.get('NAS_HOST') || 'NAS';\nvar nasShare = global.get('NAS_SHARE') || '';\nvar nasUser = global.get('NAS_USER') || '';\nvar parts = (msg.payload || '').toString().trim().split(':');\nvar pingOk = parts[0] === '1';\nvar mounted = parseInt(parts[1] || '0') > 0;\nmsg.nasHost = nasHost; msg.nasShare = nasShare; msg.nasUser = nasUser;\nif (pingOk && mounted) {\n    global.set('VIDEO_PATH', '/app/EXPORT_VIDEOS/');\n    msg.icon = 'cloud_done';\n    msg.color = '#4CAF50';\n    msg.title = 'NAS Connecté et Monté  —  ' + nasHost;\n    msg.subtitle = 'Vidéos enregistrées sur le NAS (/app/EXPORT_VIDEOS/)';\n    msg.showForm = false;\n} else if (pingOk) {\n    global.set('VIDEO_PATH', '/data/local_videos/');\n    msg.icon = 'cloud_queue';\n    msg.color = '#FF9800';\n    msg.title = 'NAS Joignable mais Non Monté  —  ' + nasHost;\n    msg.subtitle = 'Partage réseau non monté — Vidéos enregistrées en local';\n    msg.showForm = true;\n} else {\n    global.set('VIDEO_PATH', '/data/local_videos/');\n    msg.icon = 'cloud_off';\n    msg.color = '#F44336';\n    msg.title = 'NAS Non Disponible  —  ' + nasHost;\n    msg.subtitle = 'NAS injoignable — Vidéos enregistrées en local';\n    msg.showForm = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 880,
        "wires": [
            [
                "a1b2c3nas0002"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0007",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Sauvegarde IP NAS",
        "func": "if (msg.topic === 'umount_nas') {\n    return [null, msg];\n}\nif (msg.topic !== 'save_nas') return null;\nvar d = msg.payload || {};\nvar host = (d.host || '').trim();\nvar share = (d.share || '').trim();\nvar user = (d.user || '').trim();\nvar pass = (d.pass || '').trim();\nif (!host) return null;\nglobal.set('NAS_HOST', host);\nglobal.set('NAS_SHARE', share);\nglobal.set('NAS_USER', user);\nglobal.set('NAS_PASS', pass);\nmsg.payload = 'NAS_HOST=' + host + ' NAS_SHARE=' + share + ' NAS_USER=' + user + ' NAS_PASS=' + pass;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 1000,
        "wires": [
            [
                "a1b2c3nas0008"
            ],
            [
                "a1b2c3nas0011"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0008",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "/app/update_nas_config.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update config.env",
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "a1b2c3nas0010"
            ],
            [],
            []
        ]
    },
    {
        "id": "a1b2c3nas0009",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Relance check NAS",
        "func": "// Relancer immédiatement le check ping\nnode.send([{payload:''}]);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "a1b2c3nas0004"
            ]
        ]
    },
    {
        "id": "7323e54970ece752",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "sh -c 'ping_ok=0; /usr/bin/ping -c1 -W1 \"$1\" >/dev/null 2>&1 && ping_ok=1; mount_ok=$(df -P /app/EXPORT_VIDEOS 2>/dev/null | grep -c \"$1\"); echo \"${ping_ok}:${mount_ok}\"' -- ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "f8b00da30620fad4",
                "a1b2c3nas0006"
            ],
            [],
            []
        ]
    },
    {
        "id": "f8b00da30620fad4",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "a1b2c3nas0010",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "/app/mount_nas.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Monte NAS",
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "a1b2c3nas0009"
            ],
            [
                "a1b2c3nas0009"
            ],
            [
                "c80b62af388b1038"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0011",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "umount /app/EXPORT_VIDEOS ; echo ok",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Démonte NAS",
        "x": 1040,
        "y": 1100,
        "wires": [
            [
                "a1b2c3nas0009"
            ],
            [],
            []
        ]
    },
    {
        "id": "a1b2c3nas0012",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Auto-mount NAS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 8,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "a1b2c3nas0013"
            ]
        ]
    },
    {
        "id": "a1b2c3nas0013",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Si config NAS complète",
        "func": "var host = global.get('NAS_HOST') || '';\nvar share = global.get('NAS_SHARE') || '';\nif (!host || !share) return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 1200,
        "wires": [
            [
                "a1b2c3nas0010"
            ]
        ]
    },
    {
        "id": "c80b62af388b1038",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1220,
        "wires": []
    },
    {
        "id": "cca33e2388101194",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir Ordre",
        "label": "Ordre ( Play / Pause )",
        "tooltip": "",
        "place": "1",
        "group": "f899a08a0af76d49",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Play",
                "value": "play",
                "type": "str"
            },
            {
                "label": "Pause",
                "value": "pause",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "f95f19f58f79f54d"
            ]
        ]
    },
    {
        "id": "f95f19f58f79f54d",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Ordre",
        "func": "var orderType = msg.payload;\nflow.set('orderType', orderType);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "60a594f05e57525d",
        "type": "ui_button",
        "z": "797d6b58d40f9429",
        "name": "Ajouter Ordre",
        "group": "f899a08a0af76d49",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Ajouter ",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "#007bff",
        "className": "",
        "icon": "playlist_add",
        "payload": "",
        "payloadType": "str",
        "topic": "add-order",
        "topicType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "1f97fa4448f96085"
            ]
        ]
    },
    {
        "id": "1f97fa4448f96085",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Ajouter Ordre à Liste",
        "func": "var orderType = flow.get('orderType');\nvar orderDuration = flow.get('duration');\n\n// Vérification de la durée\nnode.warn('Valeur de la durée : ' + orderDuration);\n\nvar orders = flow.get('orders') || [];\n\nvar newOrder = {\n    \"order\": orderType,\n    \"duration\": orderDuration\n};\n\norders.push(newOrder);\nflow.set('orders', orders);\n\nmsg.payload = orders;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "184c3dfc759845e1"
            ]
        ]
    },
    {
        "id": "b76cbcd4da8233f3",
        "type": "ui_button",
        "z": "797d6b58d40f9429",
        "name": "Générer Fichier JSON",
        "group": "f899a08a0af76d49",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Générer un fichier de paramétrage ( .json )",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "#28a745",
        "className": "",
        "icon": "queue_play_next",
        "payload": "iso",
        "payloadType": "date",
        "topic": "generate-json",
        "topicType": "str",
        "x": 150,
        "y": 730,
        "wires": [
            [
                "d7dccf609438f680"
            ]
        ]
    },
    {
        "id": "d7dccf609438f680",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Générer et Sauvegarder le JSON",
        "func": "var ID_Serie = flow.get(\"ID_Serie\");\nvar ID_Bassin = flow.get(\"ID_Bassin\");\nvar ID_Arene = flow.get(\"ID_Arene\");\nvar ID_Sequence = flow.get(\"ID_Sequence\");\nvar location = flow.get(\"location\");\nvar video_file_name = flow.get(\"video_file_name\");\nvar PL_Name = flow.get(\"PL_Name\");\nvar Config_Name = flow.get('Config_Name');\nvar video_Path = global.get(\"VIDEO_PATH\");\nvar max_size_time = global.get(\"max_size_time\");\nvar max_size_file = global.get(\"max_size_file\");\n\nvar conf = {\n    \"pipeline_name\": PL_Name,\n    \"ID_Serie\": ID_Serie,\n    \"ID_Bassin\": ID_Bassin,\n    \"ID_Arene\": ID_Arene,\n    \"ID_Sequence\": ID_Sequence,\n    \"location\": location,\n    \"video_file_name\": video_file_name,\n    \"video_Path\": video_Path, \n    \"max_size_time\": max_size_time,\n    \"max_size_file\": max_size_file\n};\n\n// Récupérer les ordres enregistrés dans le flow\nvar orders = flow.get('orders') || [];\n\n// Créer un objet avec \"conf\" et \"orders\"\nvar finalPayload = {\n    \"conf\": conf,\n    \"orders\": orders\n};\n\n// Formater le JSON avec des sauts de ligne\nmsg.payload = JSON.stringify(finalPayload, null, 2);\n\n// Générer le nom du fichier à partir du Config_Name\nvar fileName = PL_Name + \".json\";\nvar configPath = global.get(\"CONFIG_PATH\");\n\nmsg.filename = configPath + fileName; // Chemin du fichier\n\nnode.warn(msg.filename);\n// Retourner le message\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 730,
        "wires": [
            [
                "c01f51c0378507b6",
                "f4acd8dc6ae26070",
                "34ed95cbeb2f1f21"
            ]
        ]
    },
    {
        "id": "8ab4e2b028681339",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Durée",
        "func": "var duree = msg.payload;\nflow.set('duration', duree);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c01f51c0378507b6",
        "type": "file",
        "z": "797d6b58d40f9429",
        "name": "-> config.json",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 700,
        "y": 700,
        "wires": [
            [
                "0f20c83b9aaf3a9b"
            ]
        ]
    },
    {
        "id": "0f20c83b9aaf3a9b",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "Résultat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "c8fca8e3d40ab5bc",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Vider Cache Ordres",
        "func": "flow.set('orders', []);\nmsg.payload = 'Cache vidé, prêt pour le prochain ajout!';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "184c3dfc759845e1"
            ]
        ]
    },
    {
        "id": "09b3ba7d688c05ec",
        "type": "ui_button",
        "z": "797d6b58d40f9429",
        "name": "Clear",
        "group": "f899a08a0af76d49",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Réinitialiser",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "gray",
        "className": "",
        "icon": "clear_all",
        "payload": "",
        "payloadType": "str",
        "topic": "generate-json",
        "topicType": "str",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "c8fca8e3d40ab5bc"
            ]
        ]
    },
    {
        "id": "72ac3c22367e7a1f",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir Série",
        "label": "ID de la série",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 3,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "S1",
                "value": "Serie1",
                "type": "str"
            },
            {
                "label": "S2",
                "value": "Serie2",
                "type": "str"
            },
            {
                "label": "S3",
                "value": "Serie3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "3d80e96dae81a2bb"
            ]
        ]
    },
    {
        "id": "3d80e96dae81a2bb",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Série",
        "func": "flow.set('ID_Serie', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e1860535c8a08327",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Bassin",
        "func": "flow.set('ID_Bassin', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f723ec053dc4dbc5",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir Bassin",
        "label": "ID du bassin",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 4,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bassin 1",
                "value": "Bassin_1",
                "type": "str"
            },
            {
                "label": "Bassin 2",
                "value": "Bassin_2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "e1860535c8a08327"
            ]
        ]
    },
    {
        "id": "7cf856a07f1c66fa",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Arene",
        "func": "flow.set('ID_Arene', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c246dee6bbb2a121",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir Arene",
        "label": "ID de l'arène",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 5,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Arene 1",
                "value": "Arene_1",
                "type": "str"
            },
            {
                "label": "Arene 2",
                "value": "Arene_2",
                "type": "str"
            },
            {
                "label": "Arene 3",
                "value": "Arene_3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7cf856a07f1c66fa"
            ]
        ]
    },
    {
        "id": "1e721c0833c25ece",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir Séquence",
        "label": "ID de la séquence",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 6,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Séquence 1",
                "value": "Seq1",
                "type": "str"
            },
            {
                "label": "Séquence 2",
                "value": "Seq2",
                "type": "str"
            },
            {
                "label": "Séquence 3",
                "value": "Seq3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "9f51ccca4ee8b865"
            ]
        ]
    },
    {
        "id": "9f51ccca4ee8b865",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Série",
        "func": "flow.set('ID_Sequence', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6cfac5631772eccb",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Pipeline",
        "func": "flow.set('PL_Name', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4e7031288c9bd66e",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Pipeline Name",
        "label": "PL_Name",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 1,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "pipeline1",
                "value": "pipeline1",
                "type": "str"
            },
            {
                "label": "pipeline2",
                "value": "pipeline2",
                "type": "str"
            },
            {
                "label": "pipeline3",
                "value": "pipeline3",
                "type": "str"
            },
            {
                "label": "pipeline4",
                "value": "pipeline4",
                "type": "str"
            },
            {
                "label": "pipeline5",
                "value": "pipeline5",
                "type": "str"
            },
            {
                "label": "pipeline6",
                "value": "pipeline6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "6cfac5631772eccb"
            ]
        ]
    },
    {
        "id": "ad4a74df31908257",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "Choisir location ",
        "label": "Adresse IP de la caméra",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 8,
        "width": "12",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Caméra 1 ( 172.24.1.112 ) / FULL",
                "value": "rtsp://admin:JKFLFO@192.168.1.75/11",
                "type": "str"
            },
            {
                "label": "Ziwy Cam1 ( sub/av )",
                "value": "rtsp://192.168.1.26:8554/sub/av",
                "type": "str"
            },
            {
                "label": "Ziwy Cam1 ( main/av )",
                "value": "rtsp://192.168.1.26:8554/main/av",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b41ceee2da6c271e"
            ]
        ]
    },
    {
        "id": "b41ceee2da6c271e",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker Pipeline",
        "func": "flow.set('location', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1683421686e0f397",
        "type": "fs-ops-dir",
        "z": "797d6b58d40f9429",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "flow",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "fabcbdf149e193dd",
                "68c272158d3a43ce"
            ]
        ]
    },
    {
        "id": "fabcbdf149e193dd",
        "type": "change",
        "z": "797d6b58d40f9429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "files",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 820,
        "wires": [
            [
                "93cccdd47add1666"
            ]
        ]
    },
    {
        "id": "93cccdd47add1666",
        "type": "ui_dropdown",
        "z": "797d6b58d40f9429",
        "name": "",
        "label": "Choix des fichiers de paramétrage ( .json )",
        "tooltip": "",
        "place": "Select option",
        "group": "bbd3e3f3bc9b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "9f16796b5dbbfb15"
            ]
        ]
    },
    {
        "id": "68c272158d3a43ce",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "Directory LOG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "f4acd8dc6ae26070",
        "type": "change",
        "z": "797d6b58d40f9429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CONFIG_PATH",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 820,
        "wires": [
            [
                "1683421686e0f397"
            ]
        ]
    },
    {
        "id": "9f16796b5dbbfb15",
        "type": "change",
        "z": "797d6b58d40f9429",
        "name": "List des config sélectionnées",
        "rules": [
            {
                "t": "set",
                "p": "fileListSelected",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "c4ef818f2c146c1d"
            ]
        ]
    },
    {
        "id": "c4ef818f2c146c1d",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "Conf selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 800,
        "wires": []
    },
    {
        "id": "1cfe38a5d2ae2f1b",
        "type": "inject",
        "z": "797d6b58d40f9429",
        "name": "MAJ Auto ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "f4acd8dc6ae26070"
            ]
        ]
    },
    {
        "id": "59c24fa37b200ab9",
        "type": "ui_text_input",
        "z": "797d6b58d40f9429",
        "name": "",
        "label": "Durée de l'ordre ( en secondes )",
        "tooltip": "",
        "group": "f899a08a0af76d49",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "8ab4e2b028681339"
            ]
        ]
    },
    {
        "id": "8ceaa32512946102",
        "type": "change",
        "z": "797d6b58d40f9429",
        "name": "Variable Globale",
        "rules": [
            {
                "t": "set",
                "p": "VIDEO_PATH",
                "pt": "global",
                "to": "/app/EXPORT_VIDEOS/",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "CONFIG_PATH",
                "pt": "global",
                "to": "/data/configs/",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pController",
                "pt": "global",
                "to": "python3 /app/pControler-from-JSON.py",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "max_size_file",
                "pt": "global",
                "to": "10",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "max_size_time",
                "pt": "global",
                "to": "10",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "NAS_HOST",
                "pt": "global",
                "to": "NAS_HOST",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "NAS_SHARE",
                "pt": "global",
                "to": "NAS_SHARE",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "NAS_USER",
                "pt": "global",
                "to": "NAS_USER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "NAS_PASS",
                "pt": "global",
                "to": "NAS_PASS",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 40,
        "wires": [
            [
                "c9e79ca5273cf7db"
            ]
        ]
    },
    {
        "id": "e8ece6ee4f3bc0b6",
        "type": "inject",
        "z": "797d6b58d40f9429",
        "name": "MAJ Auto ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 40,
        "wires": [
            [
                "8ceaa32512946102"
            ]
        ]
    },
    {
        "id": "c9e79ca5273cf7db",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "function 1",
        "func": "var exec_Path = global.get(\"pController\");\nvar config_Path = global.get(\"CONFIG_PATH\");\nvar video_Path = global.get(\"VIDEO_PATH\");\nmsg.payload = video_Path +\" - \\n \" + exec_Path + \" - \\n \" + config_Path;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 40,
        "wires": [
            [
                "2531eddb183f549d"
            ]
        ]
    },
    {
        "id": "2531eddb183f549d",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "fdbbaf1c07cfdb97",
        "type": "ui_template",
        "z": "797d6b58d40f9429",
        "group": "bbd3e3f3bc9b",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Appliquer une police moderne */\n    body,\n    .nr-dashboard-theme {\n        font-family: 'Poppins', sans-serif;\n        background-color: #f4f4f4;\n    }\n\n    /* Style général des cartes et widgets */\n    md-card {\n        background: white;\n        border-radius: 12px;\n        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);\n    }\n\n    /* Amélioration des boutons */\n    md-button {\n        background: linear-gradient(135deg, #4CAF50, #2E7D32);\n        color: white;\n        font-weight: bold;\n        border-radius: 8px;\n        transition: 0.3s ease;\n    }\n\n    md-button:hover {\n        background: linear-gradient(135deg, #66BB6A, #388E3C);\n        transform: scale(1.05);\n    }\n\n    /* Style des étiquettes de pipeline */\n    md-list-item {\n        border-left: 6px solid #1a5fb4;\n        padding: 12px;\n        margin: 8px 0;\n        border-radius: 8px;\n        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);\n    }\n\n    /* Texte des pipelines */\n    md-list-item p {\n        font-size: 16px;\n        font-weight: bold;\n        color: #333;\n    }\n\n    /* Effet sur les pipelines en fonctionnement */\n    .pipeline-active {\n        border-left-color: #4CAF50 !important;\n        background: rgba(76, 175, 80, 0.1);\n    }\n\n    /* Effet sur les pipelines en erreur */\n    .pipeline-error {\n        border-left-color: #E53935 !important;\n        background: rgba(229, 57, 53, 0.1);\n    }\n</style>\n\n<a href=\"http://localhost:8090/#Live\" target=\"_blank\">iSpy console</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4292448b28f6f4f9",
        "type": "ui_text_input",
        "z": "797d6b58d40f9429",
        "name": "",
        "label": "Taille Max fichier vidéo ( Mo )",
        "tooltip": "",
        "group": "9a57f35f972f2fb2",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 960,
        "y": 140,
        "wires": [
            [
                "0c38c6edc7e2fde7"
            ]
        ]
    },
    {
        "id": "5b979c2014dcfb96",
        "type": "ui_text_input",
        "z": "797d6b58d40f9429",
        "name": "",
        "label": "Taille Max fichier vidéo ( Minutes )",
        "tooltip": "",
        "group": "9a57f35f972f2fb2",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 980,
        "y": 200,
        "wires": [
            [
                "7d406401c78e2f61"
            ]
        ]
    },
    {
        "id": "0c38c6edc7e2fde7",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker max_size_file",
        "func": "global.set('max_size_file', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "5d0e6b9d3d32c04c"
            ]
        ]
    },
    {
        "id": "7d406401c78e2f61",
        "type": "function",
        "z": "797d6b58d40f9429",
        "name": "Stocker max_size_time",
        "func": "global.set('max_size_time', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "5d0e6b9d3d32c04c"
            ]
        ]
    },
    {
        "id": "5d0e6b9d3d32c04c",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "debug Max File Size / Time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 160,
        "wires": []
    },
    {
        "id": "acb67bc605feae73",
        "type": "ui_template",
        "z": "797d6b58d40f9429",
        "group": "d783cb980c3979fc",
        "name": "Show_Config",
        "order": 1,
        "width": "12",
        "height": "10",
        "format": "<pre>{{msg.payload}}</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "634256b7.2d6818",
        "type": "inject",
        "z": "797d6b58d40f9429",
        "name": "JSON String",
        "props": [
            {
                "p": "payload",
                "v": "{\"a\":1}",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "str",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "a2fe0fc8.095e1"
            ]
        ]
    },
    {
        "id": "a2fe0fc8.095e1",
        "type": "json",
        "z": "797d6b58d40f9429",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "9a4ce2b8.47698"
            ]
        ]
    },
    {
        "id": "9a4ce2b8.47698",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "80032e2.7c92cd",
        "type": "inject",
        "z": "797d6b58d40f9429",
        "name": "Object",
        "props": [
            {
                "p": "payload",
                "v": "{\"a\":1}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":1}",
        "payloadType": "json",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "cd40a0f4.4f5ac"
            ]
        ]
    },
    {
        "id": "cd40a0f4.4f5ac",
        "type": "json",
        "z": "797d6b58d40f9429",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "478b4106.4fd7c"
            ]
        ]
    },
    {
        "id": "478b4106.4fd7c",
        "type": "debug",
        "z": "797d6b58d40f9429",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "34ed95cbeb2f1f21",
        "type": "json",
        "z": "797d6b58d40f9429",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "acb67bc605feae73"
            ]
        ]
    },
    {
        "id": "184c3dfc759845e1",
        "type": "json",
        "z": "797d6b58d40f9429",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "ee3021297e6018d6"
            ]
        ]
    },
    {
        "id": "ee3021297e6018d6",
        "type": "ui_template",
        "z": "797d6b58d40f9429",
        "group": "f899a08a0af76d49",
        "name": "Show_Orders",
        "order": 5,
        "width": "12",
        "height": "4",
        "format": "<pre>{{msg.payload}}</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f8223f37dabc1cb2",
        "type": "debug",
        "z": "38ca37d8e26c9239",
        "name": "MQTT server/log",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "357477761f3dc155",
        "type": "ui_button",
        "z": "38ca37d8e26c9239",
        "name": "Launch Record Multi Thread",
        "group": "bbd3e3f3bc9b",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lancement de l'enregistrement",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "videocam",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "48d0c1ca11bb803b"
            ]
        ]
    },
    {
        "id": "48d0c1ca11bb803b",
        "type": "function",
        "z": "38ca37d8e26c9239",
        "name": "X THread / Config file selected",
        "func": "var selectedFiles = global.get('fileListSelected') || [];\nvar dirConf = global.get('CONFIG_PATH');\nvar pController = global.get('pController');\n\nvar pipelinesStates = Array(6).fill(null);  // Tableau avec 6 éléments vides\nflow.set('pipelinesStates', pipelinesStates);\n\nnode.warn(dirConf);\n\nif (selectedFiles.length === 0) {\n    node.warn(\"Aucun fichier sélectionné.\");\n    return null;\n}\n\nvar threads = selectedFiles.map(file => {\n    return {\n        topic: \"start_thread\",\n        payload: pController + \" \" + dirConf + file\n    };\n});\n\nreturn [threads];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "889c93ba519e85c8",
                "4b1aeebb47cbfa86"
            ]
        ]
    },
    {
        "id": "889c93ba519e85c8",
        "type": "exec",
        "z": "38ca37d8e26c9239",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exécuter le thread",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "f4b4cb5ad3140ca2"
            ],
            [],
            [
                "e384ea56f4a8097e"
            ]
        ]
    },
    {
        "id": "f4b4cb5ad3140ca2",
        "type": "debug",
        "z": "38ca37d8e26c9239",
        "name": "Thread lancé",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "e384ea56f4a8097e",
        "type": "debug",
        "z": "38ca37d8e26c9239",
        "name": "Erreur",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "885f4e1261c732c4",
        "type": "mqtt in",
        "z": "38ca37d8e26c9239",
        "name": "Réponse du serveur",
        "topic": "server/log",
        "qos": "0",
        "datatype": "json",
        "broker": "8e239b0d5cb9746b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "fb6201eb3eac846b",
                "f8223f37dabc1cb2"
            ]
        ]
    },
    {
        "id": "fb6201eb3eac846b",
        "type": "function",
        "z": "38ca37d8e26c9239",
        "name": "Process State",
        "func": "var payload = msg.payload;\n\n// Vérifier que les informations nécessaires sont présentes dans le message\nif (!payload || !payload.pipeline_name || !payload.state) {\n    node.error(\"Message MQTT invalide: \" + JSON.stringify(payload));\n    return null;\n}\n\n// Initialiser ou récupérer le tableau des états des pipelines (taille fixe de 6 éléments)\nvar pipelinesStates = flow.get('pipelinesStates') || Array(6).fill(null);  // Tableau avec 6 éléments vides\n\n// Identifier l'index de pipeline_name (par exemple: pipeline1 correspond à index 0, pipeline2 à index 1, etc.)\nvar index = parseInt(payload.pipeline_name.replace('pipeline', '')) - 1;\n\n// Déterminer l'icone\nvar icone = \"report\";\nvar couleur = \"blue\";\n\nnode.warn(payload.state);\n\nif (payload.state == \"playing\") {\n    icone = \"play_circle_outline\";\n    couleur = \"green\";\n    node.warn(\"maj style playing\");\n    node.warn(couleur);\n    \n}\n\nif (payload.state == \"paused\") {\n    icone = \"pause_circle_filled\";\n    couleur = \"orange\";\n}\n\nif (payload.state == \"deleted\" ) {\n    icone = \"fiber_manual_record\";\n    couleur = \"red\";\n}\n\n// Si l'index est valide (entre 0 et 5), on met à jour l'état du pipeline correspondant\nif (index >= 0 && index < 6) {\n    pipelinesStates[index] = {\n        label: payload.pipeline_name,\n        state: payload.state,\n        //icon: (payload.state === 'deleted') ? 'delete_sweep' : '',\n        icon: icone,\n        color: couleur,\n        timestamp: new Date().toLocaleString()\n    };\n} else {\n    node.error(\"Nom de pipeline invalide: \" + payload.pipeline_name);\n    return null;\n}\n\n// Sauvegarder le tableau mis à jour dans le flow\nflow.set('pipelinesStates', pipelinesStates);\n\n\n// Passer le tableau mis à jour au message pour l'utiliser dans les UI ou autres nœuds\nmsg.payload = pipelinesStates;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "a5f58e0d8c87ee96",
                "2cae499725e50cf6",
                "3e94b9495f7760a0",
                "7a5bd9fd9dd44b7f",
                "daa37f47d847da17",
                "b2dd8e15f1fd9bc4"
            ]
        ]
    },
    {
        "id": "a5f58e0d8c87ee96",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Pipeline1",
        "label": "Pipeline 1",
        "format": "{{msg.payload[0].timestamp}} - {{msg.payload[0].state}} <i class='material-icons' style='color: {{msg.payload[0].color}};'>{{msg.payload[0].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#1a5fb4",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "2cae499725e50cf6",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Pipeline 2",
        "label": "Pipeline 2",
        "format": "{{msg.payload[1].timestamp}} - {{msg.payload[1].state}} <i class='material-icons' style='color: {{msg.payload[1].color}};'>{{msg.payload[1].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#1a5fb4",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e94b9495f7760a0",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Pipeline 3",
        "label": "Pipeline 3",
        "format": "{{msg.payload[2].timestamp}} - {{msg.payload[2].state}} <i class='material-icons' style='color: {{msg.payload[2].color}};'>{{msg.payload[2].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#1a5fb4",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "7a5bd9fd9dd44b7f",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Pipeline 4",
        "label": "Pipeline 4",
        "format": "{{msg.payload[3].timestamp}} - {{msg.payload[3].state}} <i class='material-icons' style='color: {{msg.payload[3].color}};'>{{msg.payload[3].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#1a5fb4",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "daa37f47d847da17",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Pipeline 5",
        "label": "Pipeline 5",
        "format": "{{msg.payload[4].timestamp}} - {{msg.payload[4].state}} <i class='material-icons' style='color: {{msg.payload[4].color}};'>{{msg.payload[4].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#1a5fb4",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "b2dd8e15f1fd9bc4",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Pipeline 6",
        "label": "Pipeline 6",
        "format": "{{msg.payload[5].timestamp}} - {{msg.payload[5].state}} <i class='material-icons' style='color: {{msg.payload[5].color}};'>{{msg.payload[5].icon}}</i>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#1a5fb4",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "4b1aeebb47cbfa86",
        "type": "debug",
        "z": "38ca37d8e26c9239",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d79638b9d64dc7d",
        "type": "ui_button",
        "z": "38ca37d8e26c9239",
        "name": "STOP URGENCE",
        "group": "bbd3e3f3bc9b",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP URGENCE",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "videocam",
        "payload": "{\"order\":\"stop_ALL\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 690,
        "wires": [
            [
                "d6d82320e62667b0"
            ]
        ]
    },
    {
        "id": "d6d82320e62667b0",
        "type": "mqtt out",
        "z": "38ca37d8e26c9239",
        "name": "Envoyer Commande",
        "topic": "gstreamer/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba7648b8.35c9f8",
        "x": 430,
        "y": 690,
        "wires": []
    },
    {
        "id": "d5480f02ade63c29",
        "type": "ui_text",
        "z": "38ca37d8e26c9239",
        "group": "bbd3e3f3bc9b",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "---------------------------------------------------------------------------",
        "format": "<a href=\"http://localhost:8090/#Live\" target=\"_blank\">iSpy console</a>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 270,
        "y": 820,
        "wires": []
    },
    {
        "id": "9235fb32f01f75fb",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "protocol": "Automatic",
        "mode": null,
        "name": "Ping ZowieCAM-19590.local",
        "host": "ZowieCAM-19590.local",
        "timer": "1",
        "inputs": 0,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "d047f636033ba9b6"
            ]
        ]
    },
    {
        "id": "9acba6f11ea76861",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "mode": null,
        "name": "Ping 192.168.1.27",
        "host": "192.168.1.27",
        "timer": "1",
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "165236cc19cbc24c"
            ]
        ]
    },
    {
        "id": "70730d388f442c8a",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "mode": null,
        "name": "Ping 192.168.1.75",
        "host": "192.168.1.75",
        "timer": "2",
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "3f47c0efb0ecbb27"
            ]
        ]
    },
    {
        "id": "c4d6fba792791870",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "mode": null,
        "name": "Ping 192.168.1.4",
        "host": "192.168.1.4",
        "timer": "2",
        "inputs": 0,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "ded27e4e5fd7fea9"
            ]
        ]
    },
    {
        "id": "54acdd616bbe3e13",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "mode": null,
        "name": "Ping 192.168.1.1",
        "host": "192.168.1.1",
        "timer": "2",
        "inputs": 0,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "e5cc67c7dba01eb3"
            ]
        ]
    },
    {
        "id": "f5f160a8601974d2",
        "type": "ping",
        "z": "0bf1db1120823ea7",
        "d": true,
        "mode": null,
        "name": "Ping 192.168.1.6",
        "host": "192.168.1.6",
        "timer": "2",
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "35e4d6e775537b4a"
            ]
        ]
    },
    {
        "id": "d047f636033ba9b6",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping .26",
        "func": "msg.payload = { ip: '192.168.1.26',dns:'ZowieCAM-19590.local', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "165236cc19cbc24c",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping 27",
        "func": "msg.payload = { ip: '192.168.1.27', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "3f47c0efb0ecbb27",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping 192.168.1.75",
        "func": "msg.payload = { ip: '192.168.1.75', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "ded27e4e5fd7fea9",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping 4",
        "func": "msg.payload = { ip: '192.168.1.4', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "e5cc67c7dba01eb3",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping 5",
        "func": "msg.payload = { ip: '192.168.1.1', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "35e4d6e775537b4a",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Format Ping 6",
        "func": "msg.payload = { ip: '192.168.1.6', status: msg.payload > 0 ? '🟢 En ligne' : '🔴 Hors ligne' };\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "b3084662c82820cd"
            ]
        ]
    },
    {
        "id": "b3084662c82820cd",
        "type": "join",
        "z": "0bf1db1120823ea7",
        "name": "Regrouper Résultats",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "",
        "joiner": "",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "20",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "78e41c42029fa962",
                "19574653516bb415"
            ]
        ]
    },
    {
        "id": "643bd3613cff5879",
        "type": "ui_template",
        "z": "0bf1db1120823ea7",
        "group": "bbd3e3f3bc9b",
        "name": "Tableau État Réseau",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<table style='width:100%; font-size:20px;'>\n    <tr>\n        <th>Adresse IP</th>\n        <th>Statut</th>\n    </tr>\n    <tr ng-repeat='device in msg.payload track by $index'>\n        <td>{{device.ip}}</td>\n        <td>{{device.dns}}</td>\n        <td ng-style=\"{'color': (device.status.includes('En ligne') ? 'green' : 'red')}\">\n            {{device.status}}\n        </td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "423c1b32fed266a7",
        "type": "debug",
        "z": "0bf1db1120823ea7",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "78e41c42029fa962",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Delete Doublons",
        "func": "// Récupérer les résultats\nlet results = msg.payload;\n\n// Créer un objet pour stocker le dernier statut de chaque IP\nlet filteredResults = {};\nlet filteredDns = {};\n\nresults.forEach(device => {\n    filteredResults[device.ip] = device.status;  // Remplace la valeur existante\n    filteredDns[device.ip] = device.dns;\n});\n\n// Transformer l'objet en tableau\nmsg.payload = Object.keys(filteredResults).map((ip,dns) => ({\n    ip: ip,\n    dns: filteredDns[ip],\n    status: filteredResults[ip]\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 140,
        "wires": [
            [
                "423c1b32fed266a7",
                "276fc8d5f2ed883f"
            ]
        ]
    },
    {
        "id": "19574653516bb415",
        "type": "debug",
        "z": "0bf1db1120823ea7",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "276fc8d5f2ed883f",
        "type": "function",
        "z": "0bf1db1120823ea7",
        "name": "Tri des IP ( ordre croissant ) ",
        "func": "// Trier par adresse IP (ordre croissant)\nmsg.payload.sort((a, b) => {\n    let ipA = a.ip.split('.').map(num => parseInt(num, 10));\n    let ipB = b.ip.split('.').map(num => parseInt(num, 10));\n\n    for (let i = 0; i < 4; i++) {\n        if (ipA[i] !== ipB[i]) {\n            return ipA[i] - ipB[i];\n        }\n    }\n    return 0;\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "e55179947568a067",
                "643bd3613cff5879"
            ]
        ]
    },
    {
        "id": "e55179947568a067",
        "type": "debug",
        "z": "0bf1db1120823ea7",
        "name": "debug TRI",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 240,
        "wires": []
    },
    {
        "id": "d0754be210545c3f",
        "type": "function",
        "z": "7bd870335f289f7f",
        "name": "Stocker Caméra",
        "func": "var equipement = msg.payload;\nflow.set('equipement', equipement);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f830e9de83876c16",
        "type": "ui_dropdown",
        "z": "7bd870335f289f7f",
        "name": "Choisir le type d'équipement",
        "label": "Type d'équipement",
        "tooltip": "",
        "place": "1",
        "group": "179620003cde7d14",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Caméra",
                "value": "camera",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "d0754be210545c3f"
            ]
        ]
    },
    {
        "id": "ca02b4de4a6f6c62",
        "type": "ui_text_input",
        "z": "7bd870335f289f7f",
        "name": "",
        "label": "IP Caméra",
        "tooltip": "",
        "group": "179620003cde7d14",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "d94342b93426c48d"
            ]
        ]
    },
    {
        "id": "d94342b93426c48d",
        "type": "function",
        "z": "7bd870335f289f7f",
        "name": "Stocker IP",
        "func": "var ip = msg.payload;\nflow.set('IP', ip);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1dda5286f9a66e2e",
        "type": "ui_button",
        "z": "7bd870335f289f7f",
        "name": "Ajouter equipement",
        "group": "179620003cde7d14",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Ajouter ",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "#007bff",
        "className": "",
        "icon": "playlist_add",
        "payload": "",
        "payloadType": "str",
        "topic": "add-order",
        "topicType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "fea47e0786fac282"
            ]
        ]
    },
    {
        "id": "fea47e0786fac282",
        "type": "function",
        "z": "7bd870335f289f7f",
        "name": "Ajouter équipement à Liste",
        "func": "var equipement = flow.get('equipement');\nvar ip = flow.get('IP');\nvar dns = flow.get('DNS');\n\n// Vérification de la durée\nnode.warn('ajout équipement : ' + equipement);\n\nvar equipements = flow.get('equipements') || [];\n\nvar newEquipement = {\n    \"equipement\": equipement,\n    \"ip\": ip,\n    \"DNS\":dns\n};\n\nequipements.push(newEquipement);\nflow.set('equipements', equipements);\n\nmsg.payload = equipements;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "69c056a6603a8807"
            ]
        ]
    },
    {
        "id": "bfc11ca87190b528",
        "type": "function",
        "z": "7bd870335f289f7f",
        "name": "Stocker DNS",
        "func": "var dns = msg.payload;\nflow.set('DNS', dns);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3f7dde73a6f3dea1",
        "type": "ui_text_input",
        "z": "7bd870335f289f7f",
        "name": "",
        "label": "DNS Caméra",
        "tooltip": "",
        "group": "179620003cde7d14",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "bfc11ca87190b528"
            ]
        ]
    },
    {
        "id": "1e46afaf849625be",
        "type": "function",
        "z": "7bd870335f289f7f",
        "name": "Vider Cache Ordres",
        "func": "flow.set('equipements', []);\nmsg.payload = 'Cache vidé, prêt pour le prochain ajout!';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "69c056a6603a8807"
            ]
        ]
    },
    {
        "id": "94e0a2468a66257e",
        "type": "ui_button",
        "z": "7bd870335f289f7f",
        "name": "Clear",
        "group": "179620003cde7d14",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Réinitialiser",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "gray",
        "className": "",
        "icon": "clear_all",
        "payload": "",
        "payloadType": "str",
        "topic": "generate-json",
        "topicType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "1e46afaf849625be"
            ]
        ]
    },
    {
        "id": "fd20584533a7b380",
        "type": "ui_template",
        "z": "7bd870335f289f7f",
        "group": "179620003cde7d14",
        "name": "Show_Equipements",
        "order": 6,
        "width": "12",
        "height": "4",
        "format": "<pre>{{msg.payload}}</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "69c056a6603a8807",
        "type": "json",
        "z": "7bd870335f289f7f",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "fd20584533a7b380"
            ]
        ]
    },
    {
        "id": "72963b3b67df9506",
        "type": "change",
        "z": "5cbae18ab1c0cf77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CONFIG_PATH",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "811ae20f45f37f7c"
            ]
        ]
    },
    {
        "id": "811ae20f45f37f7c",
        "type": "fs-ops-dir",
        "z": "5cbae18ab1c0cf77",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "flow",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "a8ee28747325f59d"
            ]
        ]
    },
    {
        "id": "a8ee28747325f59d",
        "type": "change",
        "z": "5cbae18ab1c0cf77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "files",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 40,
        "wires": [
            [
                "08c3de693bb0bed8"
            ]
        ]
    },
    {
        "id": "08c3de693bb0bed8",
        "type": "ui_dropdown",
        "z": "5cbae18ab1c0cf77",
        "name": "",
        "label": "Choix des fichiers de paramétrage ( .json )",
        "tooltip": "",
        "place": "Select option",
        "group": "06a208ef45769b0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "e56acee804d85dbb"
            ]
        ]
    },
    {
        "id": "516e792fb8995335",
        "type": "file in",
        "z": "5cbae18ab1c0cf77",
        "name": "Read PIpeline",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "1fd4fae139c52281"
            ]
        ]
    },
    {
        "id": "1fd4fae139c52281",
        "type": "json",
        "z": "5cbae18ab1c0cf77",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 770,
        "y": 80,
        "wires": [
            [
                "9883b6be4acc663d"
            ]
        ]
    },
    {
        "id": "9883b6be4acc663d",
        "type": "ui_template",
        "z": "5cbae18ab1c0cf77",
        "group": "06a208ef45769b0c",
        "name": "Show_PIpeline",
        "order": 6,
        "width": "12",
        "height": "10",
        "format": "<pre>{{msg.payload}}</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e56acee804d85dbb",
        "type": "function",
        "z": "5cbae18ab1c0cf77",
        "name": "function 2",
        "func": "// Générer le nom du fichier à partir du Config_Name\nvar fileName = msg.payload;\nvar configPath = global.get(\"CONFIG_PATH\");\n\nmsg.filename = configPath + fileName; // Chemin du fichier\n\nnode.warn(msg.filename);\n// Retourner le message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "516e792fb8995335"
            ]
        ]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "5cbae18ab1c0cf77",
        "name": "Init Pipelines",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "72963b3b67df9506"
            ]
        ]
    }
]