core/node-red/Flow_CONFIGURATION.json
[
    {
        "id": "7186afdc565c372d",
        "type": "tab",
        "label": "CONFIGURATION",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e32cbf0f69b3b140",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Ordre",
        "label": "Type d'Ordre",
        "tooltip": "",
        "place": "1",
        "group": "f899a08a0af76d49",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Play",
                "value": "play",
                "type": "str"
            },
            {
                "label": "Pause",
                "value": "pause",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "d32a96511155b041"
            ]
        ]
    },
    {
        "id": "d32a96511155b041",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Ordre",
        "func": "var orderType = msg.payload;\nflow.set('orderType', orderType);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7214c583cf2ee792",
        "type": "ui_button",
        "z": "7186afdc565c372d",
        "name": "Ajouter Ordre",
        "group": "f899a08a0af76d49",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "+",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "#007bff",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "add-order",
        "topicType": "str",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "745a35811f557b2e"
            ]
        ]
    },
    {
        "id": "745a35811f557b2e",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Ajouter Ordre à Liste",
        "func": "var orderType = flow.get('orderType');\nvar orderDuration = flow.get('duration');\n\n// Vérification de la durée\nnode.warn('Valeur de la durée : ' + orderDuration);\n\nvar orders = flow.get('orders') || [];\n\nvar newOrder = {\n    \"order\": orderType,\n    \"duration\": orderDuration\n};\n\norders.push(newOrder);\nflow.set('orders', orders);\n\nmsg.payload = orders;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "149cc5b6808d57bd"
            ]
        ]
    },
    {
        "id": "149cc5b6808d57bd",
        "type": "ui_text",
        "z": "7186afdc565c372d",
        "group": "f899a08a0af76d49",
        "order": 4,
        "width": "6",
        "height": "6",
        "name": "Afficher Ordres",
        "label": "Ordres ajoutés",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "08b6fa4e1dc75342",
        "type": "ui_button",
        "z": "7186afdc565c372d",
        "name": "Générer Fichier JSON",
        "group": "f899a08a0af76d49",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Générer Fichier JSON",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "#28a745",
        "className": "",
        "icon": "",
        "payload": "iso",
        "payloadType": "date",
        "topic": "generate-json",
        "topicType": "str",
        "x": 130,
        "y": 750,
        "wires": [
            [
                "ef6f80831e62a0c5"
            ]
        ]
    },
    {
        "id": "ef6f80831e62a0c5",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Générer et Sauvegarder le JSON",
        "func": "var ID_Serie = flow.get(\"ID_Serie\");\nvar ID_Bassin = flow.get(\"ID_Bassin\");\nvar ID_Arene = flow.get(\"ID_Arene\");\nvar ID_Sequence = flow.get(\"ID_Sequence\");\nvar ID_Camera = flow.get(\"ID_Camera\");\nvar location = flow.get(\"location\");\nvar video_file_name = flow.get(\"video_file_name\");\nvar PL_Name = flow.get(\"PL_Name\");\nvar Config_Name = flow.get('Config_Name');\n\nvar conf = {\n    \"pipeline_name\": PL_Name,\n    \"ID_Serie\": ID_Serie,\n    \"ID_Bassin\": ID_Bassin,\n    \"ID_Arene\": ID_Arene,\n    \"ID_Sequence\": ID_Sequence,\n    \"ID_Camera\": ID_Camera,\n    \"location\": location,\n    \"video_file_name\": video_file_name\n};\n\n// Récupérer les ordres enregistrés dans le flow\nvar orders = flow.get('orders') || [];\n\n// Créer un objet avec \"conf\" et \"orders\"\nvar finalPayload = {\n    \"conf\": conf,\n    \"orders\": orders\n};\n\n// Formater le JSON avec des sauts de ligne\nmsg.payload = JSON.stringify(finalPayload, null, 2);\n\n// Générer le nom du fichier à partir du Config_Name\nvar fileName = PL_Name + \".json\";\nmsg.filename = \"/home/bibi/code/ECHO-PROJECT/core/configs/\" + fileName; // Chemin du fichier\nmsg.path = \"/home/bibi/code/ECHO-PROJECT/core/configs/\";\nnode.warn(msg.filename);\n// Retourner le message\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 750,
        "wires": [
            [
                "1e8e1e65f932f152",
                "7538ae503f01e6ab",
                "e373a1f0f5e28201"
            ]
        ]
    },
    {
        "id": "02987d95a2d4ec93",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Durée",
        "func": "var duree = msg.payload;\nflow.set('duration', duree);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1e8e1e65f932f152",
        "type": "file",
        "z": "7186afdc565c372d",
        "name": "-> config.json",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "59f35f09fb1c6b2f"
            ]
        ]
    },
    {
        "id": "59f35f09fb1c6b2f",
        "type": "debug",
        "z": "7186afdc565c372d",
        "name": "Résultat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "d2ea7ca70a4ca5e4",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Vider Cache Ordres",
        "func": "flow.set('orders', []);\nmsg.payload = 'Cache vidé, prêt pour le prochain ajout!';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "149cc5b6808d57bd"
            ]
        ]
    },
    {
        "id": "c31201cad52723d0",
        "type": "ui_button",
        "z": "7186afdc565c372d",
        "name": "Clear",
        "group": "f899a08a0af76d49",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "#fff",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "generate-json",
        "topicType": "str",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "d2ea7ca70a4ca5e4"
            ]
        ]
    },
    {
        "id": "f8e4f0b2d1899bb4",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Série",
        "label": "ID_Serie",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "S1",
                "value": "Serie1",
                "type": "str"
            },
            {
                "label": "S2",
                "value": "Serie2",
                "type": "str"
            },
            {
                "label": "S3",
                "value": "Serie3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "6c04228fe90287c9"
            ]
        ]
    },
    {
        "id": "6c04228fe90287c9",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Série",
        "func": "flow.set('ID_Serie', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ddd0c007398b9d76",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Bassin",
        "func": "flow.set('ID_Bassin', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "57104468b72cccb6",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Bassin",
        "label": "ID_Bassin",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bassin 1",
                "value": "Bassin_1",
                "type": "str"
            },
            {
                "label": "Bassin 2",
                "value": "Bassin_2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "ddd0c007398b9d76"
            ]
        ]
    },
    {
        "id": "ad1cea7695965296",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Arene",
        "func": "flow.set('ID_Arene', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "93053b9b64559921",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Arene",
        "label": "ID_Arene",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Arene 1",
                "value": "Arene_1",
                "type": "str"
            },
            {
                "label": "Arene 2",
                "value": "Arene_2",
                "type": "str"
            },
            {
                "label": "Arene 3",
                "value": "Arene_3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "ad1cea7695965296"
            ]
        ]
    },
    {
        "id": "1d5b42929f6aa94d",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Séquence",
        "label": "ID_Sequence",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Séquence 1",
                "value": "Seq1",
                "type": "str"
            },
            {
                "label": "Séquence 2",
                "value": "Seq2",
                "type": "str"
            },
            {
                "label": "Séquence 3",
                "value": "Seq3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "70a999474410c6a3"
            ]
        ]
    },
    {
        "id": "70a999474410c6a3",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Série",
        "func": "flow.set('ID_Sequence', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "baa93473b5367e03",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Pipeline",
        "func": "flow.set('PL_Name', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1eff70500a78b365",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Pipeline Name",
        "label": "PL_Name",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "pipeline1",
                "value": "pipeline1",
                "type": "str"
            },
            {
                "label": "pipeline2",
                "value": "pipeline2",
                "type": "str"
            },
            {
                "label": "pipeline3",
                "value": "pipeline3",
                "type": "str"
            },
            {
                "label": "pipeline4",
                "value": "pipeline4",
                "type": "str"
            },
            {
                "label": "pipeline5",
                "value": "pipeline5",
                "type": "str"
            },
            {
                "label": "pipeline6",
                "value": "pipeline6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "baa93473b5367e03"
            ]
        ]
    },
    {
        "id": "4ba1cb483dfd2076",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir Caméra ",
        "label": "ID_Camera",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Caméra 1",
                "value": "Cam1",
                "type": "str"
            },
            {
                "label": "Caméra 2",
                "value": "Cam2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "267a2f21d4e5fbc5"
            ]
        ]
    },
    {
        "id": "267a2f21d4e5fbc5",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Pipeline",
        "func": "flow.set('ID_Camera', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4e8edb3044588a92",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "Choisir location ",
        "label": "Location",
        "tooltip": "",
        "place": "1",
        "group": "4402a57f897c8600",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Caméra 1 ( 172.24.1.112 ) / FULL",
                "value": "rtsp://admin:JKFLFO@172.24.1.112/11",
                "type": "str"
            },
            {
                "label": "Caméra 1 ( 172.24.1.112 ) / SMALL",
                "value": "rtsp://admin:JKFLFO@172.24.1.113/11",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "55e0a75a84439261"
            ]
        ]
    },
    {
        "id": "55e0a75a84439261",
        "type": "function",
        "z": "7186afdc565c372d",
        "name": "Stocker Pipeline",
        "func": "flow.set('location', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7538ae503f01e6ab",
        "type": "ui_text",
        "z": "7186afdc565c372d",
        "group": "4402a57f897c8600",
        "order": 10,
        "width": "7",
        "height": "4",
        "name": "Config",
        "label": "Dernière config sauvegardée",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "e86ac5ba9cc0444d",
        "type": "fs-ops-dir",
        "z": "7186afdc565c372d",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "flow",
        "x": 510,
        "y": 840,
        "wires": [
            [
                "1913cada.05b895",
                "63696159eccae402"
            ]
        ]
    },
    {
        "id": "1913cada.05b895",
        "type": "change",
        "z": "7186afdc565c372d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "files",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 840,
        "wires": [
            [
                "a5c61d584bbce634"
            ]
        ]
    },
    {
        "id": "a5c61d584bbce634",
        "type": "ui_dropdown",
        "z": "7186afdc565c372d",
        "name": "",
        "label": "Liste des configurations",
        "tooltip": "",
        "place": "Select option",
        "group": "bbd3e3f3bc9b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 920,
        "y": 840,
        "wires": [
            [
                "9a4b2ae79726dccf"
            ]
        ]
    },
    {
        "id": "63696159eccae402",
        "type": "debug",
        "z": "7186afdc565c372d",
        "name": "Directory LOG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 900,
        "wires": []
    },
    {
        "id": "e373a1f0f5e28201",
        "type": "change",
        "z": "7186afdc565c372d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/home/bibi/code/ECHO-PROJECT/core/configs/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 840,
        "wires": [
            [
                "e86ac5ba9cc0444d"
            ]
        ]
    },
    {
        "id": "9a4b2ae79726dccf",
        "type": "change",
        "z": "7186afdc565c372d",
        "name": "List des config sélectionnées",
        "rules": [
            {
                "t": "set",
                "p": "fileListSelected",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "dirConf",
                "pt": "global",
                "to": "/home/bibi/code/ECHO-PROJECT/core/configs/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 840,
        "wires": [
            [
                "fbf18e8914e99b1d"
            ]
        ]
    },
    {
        "id": "fbf18e8914e99b1d",
        "type": "debug",
        "z": "7186afdc565c372d",
        "name": "Conf selected",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 900,
        "wires": []
    },
    {
        "id": "5b57af1bcd5e2bc1",
        "type": "inject",
        "z": "7186afdc565c372d",
        "name": "MAJ Auto ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "e373a1f0f5e28201"
            ]
        ]
    },
    {
        "id": "35d9ac1e0162fd48",
        "type": "ui_text_input",
        "z": "7186afdc565c372d",
        "name": "",
        "label": "Durée",
        "tooltip": "",
        "group": "f899a08a0af76d49",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "02987d95a2d4ec93"
            ]
        ]
    },
    {
        "id": "601ff0cbebb0f1cd",
        "type": "ui_spacer",
        "z": "7186afdc565c372d",
        "name": "spacer",
        "group": "4402a57f897c8600",
        "order": 9,
        "width": "8",
        "height": "2"
    },
    {
        "id": "f899a08a0af76d49",
        "type": "ui_group",
        "name": "Partition Play / Pause / Durée",
        "tab": "564a9cba19c2bc96",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4402a57f897c8600",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "564a9cba19c2bc96",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bbd3e3f3bc9b",
        "type": "ui_group",
        "name": "Execute",
        "tab": "a5f6c3d7b9e4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "564a9cba19c2bc96",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5f6c3d7b9e4",
        "type": "ui_tab",
        "name": "Execution",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]