core/node-red/Mqtt_Control.json
[
    {
        "id": "f1a3b7b3d9b27e01",
        "type": "tab",
        "label": "Contrôle Python via MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c3e8a82c1f8b4d1",
        "type": "mqtt in",
        "z": "f1a3b7b3d9b27e01",
        "name": "Réponse Python",
        "topic": "video/response",
        "qos": "0",
        "datatype": "utf8",
        "broker": "ba7648b8.35c9f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "cf2e93f32c5b4b8b",
                "c3d1e7c7efb8b6c5"
            ]
        ]
    },
    {
        "id": "cf2e93f32c5b4b8b",
        "type": "debug",
        "z": "f1a3b7b3d9b27e01",
        "name": "Affichage Debug",
        "active": true,
        "tosidebar": true,
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b9023b7eb6a72c2",
        "type": "mqtt out",
        "z": "f1a3b7b3d9b27e01",
        "name": "Envoyer Commande",
        "topic": "video/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba7648b8.35c9f8",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "b6c9e5fbd3e74a21",
        "type": "inject",
        "z": "f1a3b7b3d9b27e01",
        "name": "Démarrer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "4b9023b7eb6a72c2"
            ]
        ]
    },
    {
        "id": "c42e2f46a9a6c9b4",
        "type": "inject",
        "z": "f1a3b7b3d9b27e01",
        "name": "Arrêter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "4b9023b7eb6a72c2"
            ]
        ]
    },
    {
        "id": "e3a67d2f1297a5b8",
        "type": "inject",
        "z": "f1a3b7b3d9b27e01",
        "name": "Statut",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "status",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "4b9023b7eb6a72c2"
            ]
        ]
    },
    {
        "id": "c3d1e7c7efb8b6c5",
        "type": "ui_text",
        "z": "f1a3b7b3d9b27e01",
        "group": "a2d5f3e7c4b9a8d6",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Statut Python",
        "label": "État du script",
        "format": "{{msg.payload}}",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "ef54502f3ea922f1",
        "type": "inject",
        "z": "f1a3b7b3d9b27e01",
        "name": "Pause",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "pause",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4b9023b7eb6a72c2"
            ]
        ]
    },
    {
        "id": "ba7648b8.35c9f8",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a2d5f3e7c4b9a8d6",
        "type": "ui_group",
        "name": "Contrôle",
        "tab": "f2d3a5c6b4e7d8f9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2d3a5c6b4e7d8f9",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]