core/node-red/Mqtt_Control.json
[
    {
        "id": "9437544a0f6eb7b6",
        "type": "tab",
        "label": "Lancement de la Série",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e12252ea94371888",
        "type": "ui_form",
        "z": "9437544a0f6eb7b6",
        "name": "Formulaire de Configuration",
        "label": "",
        "group": "4402a57f897c8600",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID Série",
                "value": "ID_Serie",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ID Bassin",
                "value": "ID_Bassin",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ID Arène",
                "value": "ID_Arene",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ID Séquence",
                "value": "ID_Sequence",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "ID Caméra",
                "value": "ID_Camera",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "PipeLine",
                "value": "PL_Name",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ID_Serie": "",
            "ID_Bassin": "",
            "ID_Arene": "",
            "ID_Sequence": "",
            "ID_Camera": "",
            "PL_Name": ""
        },
        "payload": "",
        "submit": "Envoyer",
        "cancel": "Annuler",
        "topic": "",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "148ae76bb7b0f6e0"
            ]
        ],
        "inputLabels": [
            "Coucou"
        ],
        "outputLabels": [
            "Yoyo"
        ]
    },
    {
        "id": "148ae76bb7b0f6e0",
        "type": "function",
        "z": "9437544a0f6eb7b6",
        "name": "Générer JSON",
        "func": "msg.payload = {\n    \"ID_Serie\": msg.payload.ID_Serie,\n    \"ID_Bassin\": msg.payload.ID_Bassin,\n    \"ID_Arene\": msg.payload.ID_Arene,\n    \"ID_Sequence\": msg.payload.ID_Sequence,\n    \"ID_Camera\": msg.payload.ID_Camera,\n    \"location\": \"rtsp://admin:JKFLFO@172.24.1.112/11\",\n    \"video_file_name\": \"Camera_TEST1\",\n    \"pipeline_name\": msg.payload.PL_Name\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "67f3905c5da6a927",
                "4e573ff46b1ef73c"
            ]
        ]
    },
    {
        "id": "67f3905c5da6a927",
        "type": "file",
        "z": "9437544a0f6eb7b6",
        "name": "Record Config.json",
        "filename": "/home/bibi/code/ECHO-PROJECT/core/config.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "21334833f91cee3a",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "python3 /home/bibi/code/ECHO-PROJECT/core/pControler-from-JSON.py /home/bibi/code/ECHO-PROJECT/core/merged.json",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exécuter Script",
        "x": 340,
        "y": 760,
        "wires": [
            [
                "2148d11b43d6b642"
            ],
            [],
            [
                "1cff7aef6b5c1bac"
            ]
        ]
    },
    {
        "id": "2148d11b43d6b642",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "Résultat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "1cff7aef6b5c1bac",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "Erreur",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "09585d3fda80deca",
        "type": "mqtt out",
        "z": "9437544a0f6eb7b6",
        "name": "Envoyer Commande",
        "topic": "gstreamer/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba7648b8.35c9f8",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf01a76215ca7652",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Start Recording",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"start\"}",
        "payloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "1220de5d52e75b03",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"status\"}",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "a781b85afa9e39db",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Pause Recording",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"order\":\"pause\"}",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "095ce910ec9163e5",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Start display ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "start_display",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "a7dcaa489c761c3b",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Pause Display",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "pause_display",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "83c0f41c11a79503",
        "type": "inject",
        "z": "9437544a0f6eb7b6",
        "name": "Status Display",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "status_display",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "09585d3fda80deca"
            ]
        ]
    },
    {
        "id": "28822724f9c0bd75",
        "type": "mqtt in",
        "z": "9437544a0f6eb7b6",
        "name": "Réponse Python",
        "topic": "video/response",
        "qos": "0",
        "datatype": "utf8",
        "broker": "ba7648b8.35c9f8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "fb2c561e5fecb0af"
            ]
        ]
    },
    {
        "id": "fb2c561e5fecb0af",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "Affichage Debug",
        "active": true,
        "tosidebar": true,
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "4e573ff46b1ef73c",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b32e33e6b3fcfdd",
        "type": "ui_button",
        "z": "9437544a0f6eb7b6",
        "name": "",
        "group": "bbd3e3f3bc9b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Merged Json",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "a2d4a579d4744da7"
            ]
        ]
    },
    {
        "id": "a2d4a579d4744da7",
        "type": "exec",
        "z": "9437544a0f6eb7b6",
        "command": "python3 /home/bibi/code/ECHO-PROJECT/core/merge_json.py /home/bibi/code/ECHO-PROJECT/core/config.json /home/bibi/code/ECHO-PROJECT/core/orders.json",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Merged JSON Config + Orders",
        "x": 430,
        "y": 600,
        "wires": [
            [
                "04831fba5347d5ec"
            ],
            [],
            []
        ]
    },
    {
        "id": "04831fba5347d5ec",
        "type": "debug",
        "z": "9437544a0f6eb7b6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "10b219895072d63f",
        "type": "ui_button",
        "z": "9437544a0f6eb7b6",
        "name": "",
        "group": "bbd3e3f3bc9b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Launch Record",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "21334833f91cee3a"
            ]
        ]
    },
    {
        "id": "4402a57f897c8600",
        "type": "ui_group",
        "name": "Config Série",
        "tab": "564a9cba19c2bc96",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ba7648b8.35c9f8",
        "type": "mqtt-broker",
        "name": "MQTT Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bbd3e3f3bc9b",
        "type": "ui_group",
        "name": "Commandes",
        "tab": "a5f6c3d7b9e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "564a9cba19c2bc96",
        "type": "ui_tab",
        "name": "Echo-Project",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5f6c3d7b9e4",
        "type": "ui_tab",
        "name": "Contrôle",
        "icon": "dashboard",
        "order": 1
    }
]